# macOS system files
.DS_Store
**/.DS_Store

# Virtual environment folder
venv/

# Node modules (если используешь node.js)
node_modules/

# Другие временные файлы (по необходимости)
#/staticfiles/

__pycache__/
*.pyc
